<% if @facility.assoc_facility %>
  <p>
    <strong>Rebroadcasts</strong>
    <% # link_to @facility.assoc_facility.fac_callsign, @facility.assoc_facility %>
    <%= link_to @facility.assoc_facility.fac_callsign, "/broadcasters/#{@facility.assoc_facility.fac_callsign}"%>
  </p>
<% end %>
<p>
  <strong>Comm city:</strong>
  <%= @facility.comm_city %>
</p>

<p>
  <strong>Comm state:</strong>
  <%= @facility.comm_state %>
</p>

<p>
  <strong>Eeo rpt ind:</strong>
  <%= @facility.eeo_rpt_ind %>
</p>

<p>
  <strong>Fac address1:</strong>
  <%= @facility.fac_address1 %>
</p>

<p>
  <strong>Fac address2:</strong>
  <%= @facility.fac_address2 %>
</p>

<p>
  <strong>Fac callsign:</strong>
  <%= @facility.fac_callsign %>
</p>

<p>
  <strong>Fac channel:</strong>
  <%= @facility.fac_channel %>
</p>

<p>
  <strong>Fac city:</strong>
  <%= @facility.fac_city %>
</p>

<p>
  <strong>Fac country:</strong>
  <%= @facility.fac_country %>
</p>

<p>
  <strong>Fac frequency:</strong>
  <%= @facility.fac_frequency %>
</p>

<p>
  <strong>Fac service:</strong>
  <%= @facility.fac_service %>
</p>

<p>
  <strong>Fac state:</strong>
  <%= @facility.fac_state %>
</p>

<p>
  <strong>Fac status date:</strong>
  <%= @facility.fac_status_date %>
</p>

<p>
  <strong>Fac type:</strong>
  <%= @facility.fac_type %>
</p>

<p>
  <strong>Facility:</strong>
  <%= @facility.facility_id %>
</p>

<p>
  <strong>Lic expiration date:</strong>
  <%= @facility.lic_expiration_date %>
</p>

<p>
  <strong>Fac status:</strong>
  <%= @facility.fac_status %>
</p>

<p>
  <strong>Fac zip1:</strong>
  <%= @facility.fac_zip1 %>
</p>

<p>
  <strong>Fac zip2:</strong>
  <%= @facility.fac_zip2 %>
</p>

<p>
  <strong>Station type:</strong>
  <%= @facility.station_type %>
</p>

<p>
  <strong>Assoc facility:</strong>
  <%= @facility.assoc_facility_id %>
</p>

<p>
  <strong>Callsign eff date:</strong>
  <%= @facility.callsign_eff_date %>
</p>

<p>
  <strong>Tsid ntsc:</strong>
  <%= @facility.tsid_ntsc %>
</p>

<p>
  <strong>Tsid dtv:</strong>
  <%= @facility.tsid_dtv %>
</p>

<p>
  <strong>Digital status:</strong>
  <%= @facility.digital_status %>
</p>

<p>
  <strong>Sat tv:</strong>
  <%= @facility.sat_tv %>
</p>

<p>
  <strong>Network affil:</strong>
  <%= @facility.network_affil %>
</p>

<p>
  <strong>Nielsen dma:</strong>
  <%= @facility.nielsen_dma %>
</p>

<p>
  <strong>Tv virtual channel:</strong>
  <%= @facility.tv_virtual_channel %>
</p>

<p>
  <strong>Last change date:</strong>
  <%= @facility.last_change_date %>
</p>